@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.background{
    background-color: #02A28F;
}

.titulo{
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 2em;
    margin-left: 9.5rem;
    color: #FFFFFF;
}

.imagem{
    margin-top: 2.3rem;
    width: 49rem;
}

.descricao-do-grupo{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    height: 3.5rem;
    width: 44rem;
    align-items: center;
    padding: 0 1.5em 0 1.5em;
    border-radius: 0.5rem;
    margin: 0 0 1rem 1rem;
}

.descricao-do-grupo > a{
    color: #FFFFFF;
}

.grid-container{
    margin-left: 8.5rem;
    display: grid;
    grid-template-columns: repeat(2,2);
}

.grid-itens{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 20rem;
    margin-left: 1rem;
    gap: 1rem;
}

.grid-container1{
    border-radius: 1em;
    width: 22rem;
    box-shadow: 0px 10px 20px 0px #0000001A;
}

.grid-container2{
    border-radius: 1em;
    width: 22rem;
    box-shadow: 0px 10px 20px 0px #0000001A;
}

.grid-container3{
    border-radius: 1em;
    width: 22rem;
    box-shadow: 0px 10px 20px 0px #0000001A;
}

.grid-container4{
    border-radius: 1em;
    width: 22rem;
    box-shadow: 0px 10px 20px 0px #0000001A;
}

.imagem-cartao{
    width: 100%;
}

.texto-cartao{
    padding: 0.5rem ;
    color: #000000;
    font-size: 1.1vw;
    font-weight: 400;
    gap: 0.5rem;
}

.categoria{
    color: #02A28F;
    padding: 0.5rem 0;
}

.autor-e-data{
    color: #616161;
    padding: 0.5rem 0;
    font-weight: 500;
}

.container-lateral{
    position: absolute;
    top: 7.5rem;
    right: 0;
    width: 30rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
    height: 85vh;
    line-height: 2rem;
    gap: 1.5rem;
}

.titulo-lateral{
    width: 20rem;
    height: 1rem;
    text-align: start;
    border-radius: 10px;
    padding: .5rem 1.5rem 1.5rem 1.5rem;
    background-color: #02A28F;
    color: #FFFFFF;
}

.cartao-lateral1{
    margin: 1rem 0;
    padding: 0.5rem;
    width: 22.5rem;
    display: flex;
    grid-template-columns: row;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 10px 0px #0000001A;
}

.cartao-lateral2{
    margin: 1rem 0;
    padding: 0.5rem;
    width: 22.5rem;
    display: flex;
    grid-template-columns: row;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    border: solid;
    box-shadow: 0px 10px 10px 0px #0000001A;
}

.cartao-lateral3{
    margin: 1rem 0;
    padding: 0.5rem;
    width: 22.5rem;
    display: flex;
    grid-template-columns: row;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 10px 0px #0000001A;
}

.post-lateral{
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}

li{
    list-style: decimal-leading-zero;
}